<div class="container">
  <div class="userdash row">
  	<div class="col-lg-6">
	  	<div class="userdashback userleft row">
	  		<div class="businessdetails"><br>
	  		<strong>Name:</strong><% if current_user.business %>
	  		<%= current_user.business.name %>
	  		<% else %>
	  		why no name?
	  		<% end %><br>
	  		<strong>Description:</strong><%= current_user.business.description %><br>
	  		<strong>Address:</strong><%= current_user.business.address %><br>
	  		</div>
	  	</div>
		<div class="userdashback userleft row">
			idk yet
		</div>
		<div class="userdashback userleft row">Top customers</div>
	</div>
    <div class="col-lg-6 userdashback userright">
		<div>
			<div id="accordion" class="col-md-12">
			  <h3>Offer #1</h3>
			  <div>
			    <p>
			    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
			    ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
			    amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
			    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
			    </p>
			  </div>
			  <h3>Offer #2</h3>
			  <div>
			    <p>
			    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
			    purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
			    velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
			    suscipit faucibus urna.
			    </p>
			  </div>
			  <h3>Offer #3</h3>
			  <div>
			    <p>
			    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
			    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
			    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
			    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
			    </p>
			    <ul>
			      <li>List item one</li>
			      <li>List item two</li>
			      <li>List item three</li>
			    </ul>
			  </div>
			  <h3>Offer #4</h3>
			  <div>
			    <p>
			    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
			    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
			    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
			    mauris vel est.
			    </p>
			    <p>
			    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
			    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
			    inceptos himenaeos.
			    </p>
			  </div>
		</div>
	</div>
  </div>

