<div class="container-fluid grassback">
	<div class="pevents row">
		<div class="col-sm-3 col-sm-offset-4 plist">
		<h4 class="plist">Green public events</h4>
		<h6 class="plist">sorted by green choices</h6>
		<div class="list">
			<ol>
				<% @pevents.each do |ev| %>
				<li><a href="#show"><%= ev.title %></a></li>			
				<%end%>
			</ol>
		</div>
		</div>
	</div>
</div>