// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userdashback {
	background-color: #61988E;
}
.userdash {
	margin-top: 75px;
	color: #D8D4F2;
}
.userleft {
	height: 120px;
	width: 450px;
	margin:25px;
}
.userright {
	margin-left: -50px;
}
.eventform {
	margin: auto;
}
.transbox {
    margin: 30px;
    // background-color: #ffffff;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
#calendar {
	 z-index: 9999;
	 color:black;
}