// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userdashback {
	background-color: #3DCCA5;
}
.userdash {
	margin-top: 75px;
	color: black;
}
.userleft {
	height: 120px;
	width: 450px;
	margin:25px;
}
.userright {
	margin-left: -50px;
}