// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.userright {
	margin-left: -90px;
}
.eventform {
	margin: auto;
}
.transbox {
    margin: 30px;
    background-color: rgba(97, 152, 142, 1) !important;
    // opacity:1 !important;
    z-index: 10000;
    // filter: alpha(opacity=60); /* For IE8 and earlier */
}
#calendar {
	 z-index: 9999;
	 color:black;
}

.pevents {
	margin-top: 75px;
}
.list {
	background-color: rgba(46, 126, 138, 0.6); 
	margin: auto;
	border-radius: 4px;
}
.grassback {
  background-image: image-url('grass.jpg');
  background-size: cover;
  height: 100%;
  left: 0;
  right: 0;
}
.plist {
	color: white;
}
.eventinfo {
	display: hidden;
}