// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.businessdash {
	background-color: rgba(46, 138, 138, 1); 
	height: 100%;
}

.businessdetails {
	text-align: center;
}
.background-imageforest {
  background-image: image-url('forest.jpg');
  background-size: cover;
  height: 100%;
  left: 0;
  right: 0;
}

.modal-header {
  background-color: black;
  color: white;
  text-align: center;
}

.modal-body { 
	color: black; 
	text-align: center;
}
.modal-close {
	color: white;  
}
.modal-footer {
  display: inline-block;
  min-width: 100%;

  #hidden-delete {
    float: left;
  }

  .submit-right {
    float: right;
  }
}
.calendarback {
 background-color: rgba(97, 152, 142, 1);
  z-index: 2;
}
.businessdash {
  background-image: image-url('pink.jpg');
  background-size: cover;
  height: 100%;
  left: 0;
  right: 0;
}