// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.businessdash {
	background-color: rgba(46, 138, 138, 1); 
	height: 100%;
}

.businessdetails {
	text-align: center;
}
.background-imageforest {
  background-image: image-url('forest.jpg');
  background-size: cover;
  height: 100%;
  left: 0;
  right: 0;
}
.seethrough {
	opacity: 0.65;
}
