// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.businessdash {
	background-color: rgba(46, 138, 138, 1); 
	height: 100%;
}

.businessdetails {
	text-align: center;
}